*{
    margin: 0;
}
.header{
   background-color: antiquewhite;
   margin: 0 px;
   padding: 70px 150px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-title{
    font-size: 3rem;
}
.nav-div{
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(83, 82, 82);
}
.sec1-div{
    text-align: center;
}
.sec-title{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 50px;
}
.sec-paragraph{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn{
    background-color: rgb(255, 166, 0);
    border: none;
    border-radius: 5px;
    padding: 18px;
    font-size: 24px;
    font-weight: 600px;
}
.img{
    width: 1050px;
    margin: 20px 0px;
}
.sec2{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 100px 150px;
}
.sec2-div1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;   
}
.sec2-div1 > div{
    box-shadow: 4px 4px 12px;
    border-radius: 10px;
}
.sec2-div-title{
    font-size: 40px;
}
.sec2-div-paragraph{
    font-size: 20px;
    margin: 20px 0px;
}
.sec3{
    display: flex;
    margin: 10px 100px;
    gap: 50px;
}
.sec3-title{
    font-size: 50px;
    font-weight: 700;
    border-left: 4px solid orange;
    padding: 10px;
}
.sec3-paragraph{
    margin: 15px 0px;
    font-size: 18px;
}
.sec3-div-2ndpart{
    background-color: rgb(245, 248, 242);
    padding: 10px;
    box-shadow: 4px 2px 6px ;
    margin: 50px 0px;
}
.sec3-pp{
    margin: 10px 0px;   
}
.btn-Primary{
    background-color: rgb(255, 166, 0);
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
    font-weight: 900px;
    margin-top: -50px;
    margin-left: -20px;
    margin-bottom: 50px;
}
.img-sec3{
    height: 900px;
}
.sec4{
    margin: 20px 100px;
}

.sec4-title{
    font-size: 60px;
    margin-bottom: 20px;
} 
.para{
    color: gray;
}
.sec4-div{
    display: flex;
    justify-content: space-around;
}
.sec4-div-div{
    text-align: center;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 20px;
    margin: 30px 0px;
}
.numbers{
    margin: 10px 0px;
}
.para-down{
    font-size: 20px;
}
.sec5{
    margin: 20px 100px;
    margin-bottom: 70px;
}

.sec5-div{
    text-align: center;
    margin-bottom: 50px;
}
.sec5-div2{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width:576px){
   .header{
    padding: 50px ;
    
   }
   .nav{
    flex-direction: column;
   }
   .nav-div{
    margin-top: 30px;
    gap: 10px;
  }
  .img{
    height: 100%;
    width: 100%;
  }
  .sec2{
    flex-direction: column;
  }
  .sec2-div1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .sec3{
    flex-direction: column;
  }
  .sec3-title{
    font-size: 30px;
  }
  .img-sec3{
    height: 100%;
    width: 100%;
  }
  .sec4-title{
    font-size: 40px;
    text-align: center;
  }
  .sec2-div-title{
    text-align: center;
    font-size: 30px;
  }
  .sec2-div-paragraph{
    text-align: center;
    font-size: 18px;
  }
  .para{
    text-align: center;
  }
  .sec4-div{
    flex-direction: column;
    
  }
  .sec5-div2{
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
}